<h3><%= t('comments')%></h3>
<table>
  <thead>
    <tr>
      <td><%= t('comment') %></td>
      <td><%= t('comment_user') %></td>
      <td><%= t('created_at') %></td>
      <td colspan="3"></td>
    </tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td> <%= comment.body %></td>
      <td> <%= comment.user.name %></td>
      <td> <%= l comment.created_at %></td>
      <% if comment.user == current_user %>
      <td><%= link_to t('edit'), [:edit, @commentable,comment] %></td>
      <td>
        <%= link_to t('destroy'), [@commentable,comment], method: :delete, data: { confirm: "#{t 'Are you sure?' }" } %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
