<p>
  <strong><%= t 'title'%>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= t 'memo'%>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= t 'author'%>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= t 'picture'%>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<p>
  <strong><%= t 'user'%>:</strong>
  <%= @book.user.name %>
</p>

<%= render 'comments/index', commentable: @book %>

<%= render 'comments/form', comment: @book.comments.new, button_name: t('post comment')%>

<% if @book.user == current_user %>
<%= link_to "#{t 'edit'}", edit_book_path(@book) %> |
<% end %>
<%= link_to "#{t 'back'}", books_path %>
